img{
    max-width: 950px;
    max-height: 450px;
    width: auto;
    height: auto;
    align-content: center;
    margin: auto;
    display: block;
}

html{
    background-color: burlywood;
    text-align: center;
    color: gray;
    margin-left: 150;
    margin-right: 150px;
}

h1{
    font: bold;
    border: 5px solid gray;
    display: inline-block;
}

button{
    background-color: aliceblue;
    color: rgb(75, 75, 75);
    border-radius: 12px;
}